/* common css start */
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --brand: #3ed1ba;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1230px;
  margin: 0 auto;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
img {
  width: 100%;
}
body {
  position: relative;
}
.heading {
  color: #333;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 63.984px;
}
.sub-heading {
  color: #333;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 43px;
}
.paragraph {
  color: #777;
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
}
.date {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  display: inline-block;
}
/* common css end */
/* nav start */
#head {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
#head .navbox {
  padding: 51px 0 24px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--brand);
}
#head .navbox .navlist ul {
  display: flex;
  column-gap: 34px;
}
#head .navbox .navlist ul li {
  width: 115px;
  display: flex;
  justify-content: center;
}
#head .navbox .navlist ul li a {
  color: #333;
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.12px;
  transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
}
#head .navbox .navlist ul li a:hover {
  font-weight: 700;
}
/* nav end */

/* banner start */
#banner {
  padding: 180px 0 355px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#banner .shap {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(50% + 254px);
  z-index: -1;
}
#banner .bnrbox {
  display: flex;
}
#banner .bnrbox .txt {
  width: 50%;
}
#banner .bnrbox .image-box {
  width: 50%;
  position: relative;
}
#banner .bnrbox .txt h1 {
  color: #333;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 86px;
}
#banner .bnrbox .txt p {
  color: #777;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  max-width: 585px;
  margin-top: 24px;
}
#banner .bnrbox .txt .icons {
  margin-top: 56px;
  display: flex;
  column-gap: 40px;
}
#banner .bnrbox .txt .icons li a {
  color: #3ed1ba;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.992px;
  text-transform: capitalize;
  width: 56px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px solid #3ed1ba;
}
#banner .bnrbox .image-box .main-img {
  max-width: 400px;
  height: 480px;
  background-color: #e2e2e2;
  margin-left: 88px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  overflow: hidden;
}
#banner .bnrbox .image-box .main-img img {
  height: 100%;
}
#banner .bnrbox .image-box .cardone {
  position: absolute;
  top: 49px;
  right: 0;
  background-color: #fff;
  max-width: 184px;
  padding: 16px 12px 15px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
#banner .bnrbox .image-box .cardone .image {
  width: 100%;
  height: 112px;
  background-color: #e2e2e2;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  overflow: hidden;
}
#banner .bnrbox .image-box .cardone p {
  color: #666;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 12px;
}
#banner .bnrbox .image-box .cardtwo {
  display: flex;
  align-items: center;
  column-gap: 24px;
  position: absolute;
  top: 433px;
  left: -117px;
  padding: 12px 17px;
  background-color: #fff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  max-width: 485px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
#banner .bnrbox .image-box .cardtwo .image {
  display: flex;
  align-items: center;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #e2e2e2;
}
#banner .bnrbox .image-box .cardtwo p {
  color: #666;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 301px;
}

/* banner end */
/* about start */
#about .about-box {
  position: relative;
}
#about .about-box .slider {
  display: flex;
  column-gap: 14px;
  position: absolute;
  top: -230px;
  left: 0;
  width: 100%;
  z-index: 1;
}
#about .about-box .slider .item {
  flex-grow: 1;
  height: 360px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background-color: #e2e2e2;
}
#about .about-box .slider-btn {
  position: absolute;
  top: -340px;
  left: 88%;
  z-index: 1;
  display: flex;
  column-gap: 24px;
}
#about .about-box .slider-btn .btn {
  width: 48px;
}

/* about end */
/* article start */
#article {
  padding: 230px 0 200px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#article .shap {
  position: absolute;
  z-index: -1;
  top: 660px;
  height: 53%;
}
#article .article-top {
  margin-top: 64px;
  background-color: #fff;
  display: flex;
  padding: 32px 26px;
  column-gap: 40px;
  align-items: center;
}
#article .article-top .image {
  width: 478px;
  height: 424px;
  background-color: #e2e2e2;
}
#article .article-top .image img {
  height: 100%;
}
#article .article-top .txt {
  width: 676px;
}
#article .article-top .txt h3 {
  max-width: 635px;
}
#article .article-top .txt span {
  margin-top: 16px;
}
#article .article-top .txt p {
  margin-top: 24px;
  font-size: 15px;
}
#article .article-top .txt a {
  color: #3ed1ba;
  font-size: 16px;
  font-weight: 500;
  margin-top: 53px;
}
#article .artical-box {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 16px;
}
#article .artical-box .item {
  padding: 29px 26px;
  background-color: #ffffff;
  width: 32.5%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 2px;
}
#article .artical-box .item .image {
  height: 200px;
  background-color: #e2e2e2;
  position: relative;
}
#article .artical-box .item .image a {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  padding: 4px 31px;
  background-color: #ac8fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  position: absolute;
  top: 14px;
  right: 12px;
}
#article .artical-box .item h3 {
  margin: 16px 0;
}
#article .artical-box .item p {
  padding: 16px 0 0px;
}
#article .artical-box .item .seemore {
  color: #3ed1ba;
  font-size: 16px;
  font-weight: 500;
  margin-top: 53px;
}
#article .artbox-slider .btn {
  display: flex;
  justify-content: center;
  margin-top: 88px;
  column-gap: 40px;
}
#article .artbox-slider .btn img {
  width: 24px;
}
#article .artbox-slider .btn .page {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
#article .artbox-slider .btn .page .active {
  color: #4505fb;
  font-size: 24px;
  font-weight: 700;
  line-height: 31.992px;
  padding: 12px 15px;
  border: 1px solid #4505fb;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
#article .artbox-slider .btn .page span {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.12px;
}
/* article end */
/* instagram start */
#insta {
  padding: 0 0 160px;
}
#insta .insta-box {
  display: flex;
}
#insta .insta-box .title {
  width: 40%;
}
#insta .insta-box .title p {
  margin-top: 32px;
  max-width: 400px;
}
#insta .insta-box .title a {
  margin-top: 56px;
  padding: 16px 24px;
  background-color: #7d50ff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
}
#insta .insta-box .element {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 13px;
}
#insta .insta-box .element .item {
  width: 49%;
  height: 349px;
  background-color: #e2e2e2;
}
/* instagram end */
/* footer start */
#footer {
  padding: 124px 0 0;
  background: url("../svg/footerbg.svg");
}
#footer .footbox {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid #cccccc;
}
#footer .footbox .footlogo .logo {
  max-width: 170px;
}
#footer .footbox .footlogo p {
  margin-top: 16px;
  max-width: 400px;
}
#footer .footbox .footlist .footnav {
  display: flex;
  column-gap: 60px;
}
#footer .footbox .footlist .footnav li a {
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-transform: capitalize;
}
#footer .footbox .footlist .icon {
  margin-top: 64px;
  display: flex;
  justify-content: end;
  column-gap: 16px;
}
#footer .footbox .footlist .icon li a {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #ac8fff;
  text-transform: capitalize;
}
#footer .copyright {
  padding: 24px 0 40px;
}
#footer .copyright p {
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
/* footer end */
